.button {
  outline: none;
  border-style: none;
  color: #fff;
  padding: 5px;
  text-transform: uppercase;

  &:hover {
    cursor: pointer;
  }

  &__start {
    background-color: #2BBBAD;
  }

  &__reset {
    background-color: red;
  }
}